<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastro Front</title>
</head>
<body>
    <form action="/salvarFront" method="GET">
        <input type="hidden" name="id" id="id" value="{{front.id}}"> <br/>
        <label for="nome">Nome: </label>
        <input type="text" name="nome" id="nome" value="{{front.nome}}">
        <br>
        <label for="descricao">Descrição: </label>
        <input type="text" name="descricao" id="descricao" value="{{front.descricao}}">
        <br>
        <label for="versao">Versao: </label>
        <input type="text" name="versao" id="versao" value="{{front.versao}}">
        <input type="submit" value="Cadastrar">
    </form>
</body>
</html>