<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/staticinicio.css">
    <title>Inicial</title>
</head>
<body class= "botoes">
    <form action="/listarFront">
        <input type="submit" value="Listar Front End">
    </form>
    <form action="/listarBack">
        <input type="submit" value="Listar Back End">
    </form>
    <form action="/listarSgbd">
        <input type="submit" value="Listar Sgbd">
    </form>
    <form action="/listarSquads">
        <input type="submit" value="Listar Squads">
    </form>
    <form action="/cadastroSGBD">
        <input type="submit" value="Cadastrar SGBD">
    </form>
    <form action="/cadastroFront">
        <input type="submit" value="Cadastrar FrontEnd">
    </form>
    <form action="/cadastroBack">
        <input type="submit" value="Cadastrar BackEnd">
    </form>

    <form action="/cadastroSquad">
        <input type="submit" value="Cadastrar Squad">
    </form>
</body>
</html>