<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/staticback.css">
    <title>Lista Back End</title>
</head>
<body>
    <div class= "conteudo">
        <a></a>
        <p id='fonte'>Lista Back-End</p>
            <table id= 'backend'>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Descricao</th>
                        <th>Versao</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
            <tbody>
                    {% for p in lista %}
                    <tr>
                        <td>{{ p.id }}</td>
                        <td>{{ p.nome }}</td>
                        <td>{{p.descricao}}</td>
                        <td>{{p.versao}}</td>
                        <td>
                            <a href="/excluirback?id={{ p.id }}" class="excluirback">Excluir</a>
                        </td>
                        <td>
                            <a href="/cadastroBack?id={{ p.id }}" class="alterarback">Alterar</a>
                        </td>
                    </tr>
                    {% endfor %}
            </tbody>
        </div>
</body>
</html>